.logo .image img {
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

#main > .sidebar.tutorials {
    width: 240px;
}

b > code {
    font-weight: bold;
}

.inline-pal-preview {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #333;
    margin-right: -2px;
}
