on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: funkyheatmap-js
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"ci","section":"Misc","hidden":false},{"type":"docs","section":"Misc","hidden":false},{"type":"style","section":"Misc","hidden":false},{"type":"refactor","section":"Misc","hidden":false},{"type":"test","section":"Tests","hidden":false}]'
          pull-request-header: 'New release'
          pull-request-title-pattern: 'ci: release${component} ${version}'
          bumpPatchForMinorPreMajor: true
      - uses: actions/checkout@v3
        if: ${{ steps.release.outputs.release_created }}
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        if: ${{ steps.release.outputs.release_created }}
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
        if: ${{ steps.release.outputs.release_created }}
      - run: npm run build
        if: ${{ steps.release.outputs.release_created }}
      - run: npm publish
        if: ${{ steps.release.outputs.release_created }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
